@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --grey-light: #c0c0c0;
  --grey-dark: #262626;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* NAVBAR STYLING */

nav {
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
  width: 100vh;
  height: 15vh;
  background-color: white;
}

nav ul {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
}

nav ul li {
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
}

nav ul li a:hover {
  color: var(--grey-dark);
  text-decoration: none;
}

nav ul li a {
  color: var(--grey-light);
}

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  display: flex;
  flex: 0;
  flex-basis: 50px;
  content: " ";
  transform: rotate(90deg);
}

.active {
  color: var(--grey-dark);
}
