header{
    background-color: #444444;
    color: white;
    height: 5rem;
}

.flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.space-between{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.jumbotron{
    background-color: #f5f5f5;
}