*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1{
    font-family: 'Fresca', sans-serif;
    text-align: center;
    line-height: 3rem;
    font-size: 3rem;
    border-bottom: 2px solid #289CE8;
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
}

section{
    width: 1200px;
    margin: auto;
}

p{
    line-height: 1.5rem;
    text-align: center;
    font-size: 1rem;
}

p::first-letter{
    color: #1C6EA4;
    font-weight: 700;
}

p::first-line{
    color: #289CE8;
    font-weight: 700;
}

a{
    width: 100%;
    color: white;
    font-weight: 700;
    height: 7rem;
    font-size: 2rem;
}

header{
    background-color: #1C6EA4;
    padding: 3%;
    text-align: center;
}

header:hover{
    background-color: black;
}

button{
    width: 150px;
    background-color: #1C6EA4;
    border: none;
    padding: 1rem;
    color: white;
    font-weight: 700;
    border-radius: 20px;
}

button:hover{
    background-color: black;
}

#button{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

nav{
    background-color: #289CE8;
    margin-bottom: 2rem;
    height: 50px;
}

ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0.7rem;
}

li a{
    text-decoration: none;
    padding: 2rem;
    font-size: 1.5em;
}

li a:hover{
    text-decoration: underline;
}

#sectiontwo{
    background: #289CE8;
    background: -moz-linear-gradient(45deg, #289CE8 0%, #1C6EA4 100%);
    background: -webkit-linear-gradient(45deg, #289CE8 0%, #1C6EA4 100%);
    background: linear-gradient(45deg, #289CE8 0%, #1C6EA4 100%);   
    width: 100%;
    margin-top: 2rem;
}

#container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article{
    background: white;
    padding: 3rem;
    margin: 3rem;
    width: 40%;
    -webkit-box-shadow: 4px 5px 7px -1px rgba(0,0,0,0.72); 
    box-shadow: 4px 5px 7px -1px rgba(0,0,0,0.72);
}

h2{
    font-family: 'Fresca', sans-serif;
    text-align: center;
    line-height: 3rem;
    font-size: 2rem;
}

footer{
    background-color: black;
    height: 100px;
}

footer p{
    text-align: center;
    padding: 2.4rem;
}