.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.img-circle{
  border-radius: 50%;
  background-color: #b0e0e6;
  margin-bottom: 20px;
}

h1 span{
  color: #b0e0e6;
}

.bg-container{
  background-color: #b0e0e6;
  padding: 20px;
  color: black;
  border-radius: 15px;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 100px;
}

p span{
  font-weight: bold;
  text-transform: uppercase;
}

#exampleSelect{
  width: 250px;
  margin: 0 auto;
}

.lead{
  width: 750px;
  margin: 0 auto;
  font-size: 12px;
  margin-bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
