.about-container{
  background-color: rgba(255,255,255,0.2);
  margin: 2rem 0 0 0;
  padding: 35px 30px 0 30px;
  -webkit-box-shadow: -1px 0px 7px 0px #000000; 
  box-shadow: -1px 0px 7px 0px #000000;
}

.about-container .colAbout{
  padding-right: 60px;
}

.about-container img{
  max-width: 100%;
}

.about-container .link{
  text-decoration: none;
  color: var(--light-orange);
}

.about-container h1{
  display: inline-block;
  background-color: var(--light-green);
  padding: 10px 20px;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 15px 0 25px 0;
}

.about-container span{
  font-weight: 600;
}

.about-container h2{
    margin-bottom: 2rem;
}

.about-container p{
    font-weight: 200;
}

.about-container p:nth-last-child(1){
  margin-bottom: 35px;
}

@media only screen and (max-width: 992px) {
  .colAbout{
    padding: 0;
    margin: 0;
  }
}