/* SHOWCASE */

#showcase-recipe-article{
    width: 100vw;
    max-width: 100%;
    height: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow-x: hidden;
}

#showcase-recipe-article h1{
    background-color: var(--light-green);
    padding: 10px 20px;
    font-size: 3.5rem;
    margin: 0 0 10px 0;
}

#showcase-recipe-article li{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.2rem;
    color: white;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    margin: 0;
}

.content{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TAG LIST */

#tag-list{
    display: flex;
    list-style: none;
    color: var(--light-orange);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 0 10px 0;
    padding: 0;
}

#tag-list li{
    font-size: 0.75rem;
}

#tag-list li:not(:nth-of-type(1))::before{
    content: '|';
    margin-left: 5px;
}

/* INSTRUCTIONS */

#instructions-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

#instructions-list li{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px dotted rgba(255,255,255,0.4);
}

#instructions-list li span{
    color: var(--light-orange);
    font-weight: bold;
    font-size: 1rem;
    margin-right: 5px;
}

#col-left{
    color: var(--dark-bg-color);
}

#white-background{
    background: white;
    border-radius: 15px;
    padding: 35px 20px 35px 20px;
}

#col-right{
    padding: 25px 25px;
    padding-right: 100px;
}

#col-right img{
    position: absolute;
    width: 20%;
    right: 110px;
    top: 130px;
}

#col-right h1{
    font-weight: 900;
    line-height: 4rem;
    text-transform: uppercase;
    font-size: 4rem;
}

#col-right h2{
    color: var(--light-green);
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin-bottom: 1rem;
}

#col-right h3{
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-weight: 900;
    font-size: 1.35rem;
}

#col-right p span{
    color: var(--light-green);
    font-weight: 900;
    margin-right: 10px;

}

#col-left h3{
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-weight: 900;
    font-size: 1.35rem;
    color: var(--dark-bg-color)
}

#main-recipe-container{
    margin-top: 5rem;
}

#default-list{
    list-style: none;
    justify-content: center;
    align-items: center;
    background-color: var(--light-bg-color);
    border-radius: 15px;
    color: white;
}

#default-list p{
    margin: 10px 10px;
    font-size: 0.8rem;
    text-align: center;
}

#ingredients-list{
    list-style: none;
    margin: 0 10px 0;
    padding: 0;
}

#ingredients-list li{
    margin: 10px 0;
    font-size: 0.95rem;
}

.fa-clock, .fa-award{
    color: var(--light-green);
    margin: 0;
}

.fa-check-circle{
    color: var(--light-green);
    margin: 0 5px 0 5px;
}