.blue{
    background-color: #12C9F0;
    border: 5px solid white;
    width: 150px;
    height: 175px;
}

.purple{
    background-color: #4D267F;
    border: 5px solid white;
    width: 150px;
    height: 175px;
}

.lila{
    background-color: #dac3db;
    border: 5px solid white;
    width: 150px;
    height: 175px;
}

.red{
    background-color: #C94747;
    border: 5px solid white;
    width: 150px;
    height: 175px;
}

.green{
    background-color: #1d9c46;
    border: 5px solid white;
    width: 150px;
    height: 175px;
}

.yellow{
    background-color: #FEFF89;
    border: 5px solid white;
    width: 150px;
    height: 175px;
}

.orange{
    background-color: #DD9850;
    border: 5px solid white;
    width: 150px;
    height: 175px;
}

.brown{
    background-color: #6e4c28;
    border: 5px solid white;
    width: 150px;
    height: 175px;
}

.turqoise{
    background-color: #5BE5CD;
    border: 5px solid white;
    width: 150px;
    height: 175px;
}

.default{
    background-color: dimgray;
    border: 5px solid white;
    width: 150px;
    height: 175px;
}